.pieces1 {
  position: absolute;
  width: 50px;
  height: 50px;
  margin: 10px;
  border-radius: 50%;
  border: 1px solid #676767;
  /* background-color: yellow; */
  animation: drop 7s 0s infinite;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
  overflow: hidden;

  &:nth-child(1) {
    left: 20%;
    background-color: aqua;
    animation: drop 8s 0s infinite;
    /* &::after {
            animation-delay: 2s;
        } */
  }

  &:nth-child(2) {
    left: 40%;
    background-color: blueviolet;
    animation: drop 10s 0s infinite;
    /* &::after {
            animation-delay: 2s;
        } */
  }

  &:nth-child(3) {
    left: 60%;
    animation: drop 12s 0s infinite;
    /* &::after {
            animation-delay: 2.5s;
        } */
  }

  &:nth-child(4) {
    left: 80%;
    background-color: aqua;
    animation: drop 15s 0s infinite;
    &::after {
      animation-delay: 3s;
    }
  }
}

.col-1 {
  position: absolute;
  width: 40px;
  margin-left: 22px;
  animation: p-drop 2s 0s;
  animation-fill-mode: forwards;
}

.g-bk {
  background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(0,212,255,1) 62%, rgba(0,255,81,1) 100%);
}


.piece {
  z-index: 5;
  background-color: red;
 visibility: visible !important;
  /* position: absolute; */
  width: 50px;
  height: 50px;
  border-radius: 50%;
  /* top: 9.5%; */
  animation: p-drop 2s 0s;
  animation-fill-mode: forwards;
}

@keyframes p-drop {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(240px);
  }
}



@keyframes drop {
  0% {
    top: 0;
  }
  100% {
    top: 100%;
  }
}


.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}
